@import 'base';
/* 申请 */
.txt-reason{
	@include border(#e2e2e2,0, 1px 0,1);
	textarea{
		width:100%;
		height: pxToRem2(120);
		@extend .fontSize2;
		padding:pxToRem2(14) pxToRem2(15);
		/* margin:pxToRem2(15) 0 0 0; */
		border:none;
		vertical-align: top;
	}
}
.tips{
	color:#dcdcdc;
}
.row{
	margin:pxToRem2(15) 0;
	background-color: $whiteColor;
	padding:pxToRem2(14);
	@include border(#e2e2e2,0, 1px 0,1);
	@extend .fontSize2;
	input{
		border:none;
		@extend .fontSize2;
		float:right;
		text-align: right;
		&:disabled {
			background-color: $whiteColor;
			color:$fontColorBlack !important;
		}
	}
	&.sum-price{
		background-color:transparent;
		padding-top:0;
		padding-bottom:0;
		&:before{
			border:none;
		} 
	}
	.expectPayDate{
		color:#666;
		float: right;
		i{
			color:#dcdcdc;
		}
	}
}
.detail{
	h3{
		@extend .fontSize13;
		color:#999999;
		padding:pxToRem2(9) pxToRem2(14) pxToRem2(14) pxToRem2(14);
		a{
			float:right;
			color:#FA565A;
		}
	}
	.formbox{
		@include border(#e2e2e2,0, 1px 0 0 0,1);
		margin-bottom:pxToRem2(14);
		.rowinput{
			margin:0;
			background-color: $whiteColor;
			line-height: pxToRem2(44);
			@extend .fontSize2;
			padding:0 pxToRem2(14);
			@include border(#e2e2e2,0, 0 0 1px 0,1);
			position:relative;
			&.add-photo{
				h4{
				height:pxToRem2(44);
				line-height: pxToRem2(44);
				}
			}
			&.txt-reason{
				padding:0 !important;
			}
			.upload-list{
				.item{
					margin-top:pxToRem2(5);
					i{
						line-height: 1;
					}
				}
			}
			input{
				text-align: left;
				width:pxToRem2(230);
				border:none;
				/* height:pxToRem2(44);
				line-height: pxToRem2(44); */
				@extend .fontSize2;
				/* position: absolute;
				top:0;
				right:0; */
				margin-left:pxToRem2(7);
				color:#666;
			}
		}
	}
}
.add-row{
	text-align:center;
	color:#FA565A;
	i{
		@extend .fontSize1;
		margin-right: pxToRem2(11);
	}
}
.add-photo{
	span{
		color:#dcdcdc;
		margin-left:pxToRem(10);
	}
	i{
		float: right;
		font-size: pxToRem2(19);
		color:#dcdcdc;
	}
}
.btn-submit{
	background-color:#FA565A;
	height:pxToRem2(46);
	border-radius:pxToRem2(46);
	line-height:pxToRem2(46);
	@extend .fontSize1;
	color:#fff;
	text-align: center;
	display: block;
	width:pxToRem2(320);
	overflow:hidden;
	margin: 0 auto pxToRem2(16) auto;
}
.upload-list{
	overflow:hidden;
	.item{
		width:pxToRem(120);
		height:pxToRem(120);
		display:block;
		float:left;
		position:relative;
		margin-top:pxToRem2(14);
		margin-bottom:pxToRem2(14);
		margin-right:pxToRem(20);
		img{
			width:100%;
			height:100%;
		}
		.uploading{
			@extend .fontSize1;
			color:#fff;
			position:absolute;
			text-align:center;
			width:100%;
			height:100%;
			line-height:pxToRem(120);
			top:0;
			background:rgba(0,0,0,.7);
		}
		i{
			position:absolute;
			right:0;
			top:0;
			color:#ff6d70;
			font-size:pxToRem(46);
		}
	}
}
.add-people{
	h4{
		padding-bottom:pxToRem2(15);
		span{
			color:#dcdcdc;
		}
	}
}
.people-list{
	overflow:hidden;
	.item{
		margin-bottom:pxToRem2(14);
		vertical-align: top;
		text-align: center;
		display:inline-block;
		margin-right: pxToRem2(7);
		img,i,.img{
			display: block;
			height:pxToRem2(46);
			width:pxToRem2(46);
			line-height:pxToRem2(46);
			border-radius: pxToRem2(46);
			overflow:hidden;
			color:#fff;
			@extend .fontSize;
		}
		i{
			border:1px solid #FA565A;
			@extend .fontSize2;
			color:#FA565A;
		}
		.userName{
			margin-top:pxToRem2(10);
			@extend .fontSize1;
			white-space: nowrap;
			width:pxToRem2(55);
			overflow: hidden;
			text-overflow:ellipsis;
		}
	}
	.icon-shenpiliucheng{
		@extend .fontSize3;
		height:pxToRem2(46);
		line-height:pxToRem2(46);
		margin-right: pxToRem2(7);
		color:#dcdcdc;
	}
}
.type-list{
	a{
		display: inline-block;
		width:pxToRem2(60);
		height:pxToRem2(28);
		line-height:pxToRem2(28);
		@extend .fontSize1;
		text-align: center;
		border-radius: pxToRem2(28);
		border:1px solid #bbb;
		margin-right:pxToRem2(8);
		color:#999;
		&.focus{
			color:#fff;
			background-color:#FA565A;
			border-color:#FA565A;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}
.applyDetail{
	input{
		text-align: left;
		float:none;
		margin-left:pxToRem2(14);
	}
}
.cityContainer{
	height:100%;
	width:100%;
	background-color: #fff;
	position:fixed;
	top:0;
	left:0;
	overflow: auto;
	z-index: 4;
	.search{
		background-color: #e0e0e0;
		height:pxToRem(90);
		padding-top:pxToRem(18);
		position:relative;
		i{
			font-size:pxToRem(30);
			color:#a3a3a3;
			position: absolute;
			left:pxToRem(32);
			top:pxToRem(34);
		}
		input{
			background-color:#fff;
			width:95%;
			border-radius: pxToRem(58);
			height:pxToRem(58);
			line-height: pxToRem(58);
			border:none;
			padding-left:pxToRem(70);
			@extend .fontSize15;
			width:pxToRem(718);
			margin-left:pxToRem(16);
		}
	}
	.letter{
		position:fixed;
		right:pxToRem(10);
		top:pxToRem(265);
		@extend .fontSize2;
		a{
			color: #fa565a;
		}
	}
	.tab{
		width:100%;
		background-color: #fff;
		a{
			display: inline-block;
			width:50%;
			height:pxToRem(69);
			line-height: pxToRem(69);
			text-align: center;
			@extend .fontSize2;
			color:#9a9a9a;
			&.curr {
			    border-bottom: 3px #fa565a solid;
			    color: #fa565a;
			}
		}
	}
	.now-letter {
	    width: 100%;
	    left: 0;
	    top: 0;
	    height: 0.4rem;
	    background-color: #e0e0e0;
		@extend .fontSize1;
	    line-height: 0.4rem;
	    color: #9a9a9a;
	    text-indent: 0.4rem;
	    z-index: 1;
	}
	.topbanner{
		position:fixed;
		width: 100%;
	}
	.mg-top{
		margin-top:pxToRem(195);
	}
	.city-list{
		p{
			border-bottom: 1px #b4b4b4 solid;
			height: pxToRem(88);
			line-height: pxToRem(88);
			@extend .fontSize2;
			padding-left:pxToRem(30);
		}
	}
	.sta{
		padding-left:pxToRem(30);
		background-color: #d9d9d9;
		width:100%;
		display:block;
		color: #9a9a9a;
	}
}