@import "base";
.header{
	background-color:$whiteColor;
	@include border(#e2e2e2,0,0 0 1px 0,4);
}
.orgInfo{
	background-color:$whiteColor;
	/* font-size:$fontSize2 !important; */
	@extend .fontSize2;
	line-height:pxToRem(90);
	height:pxToRem(90);
	position:relative;
	z-index:3;
	.redCircle{
		width:pxToRem(16);
		height:pxToRem(16);
		border-radius: pxToRem(16);
		background-color: #ff0202;
		position:absolute;
		right:pxToRem(65);
		top:pxToRem(36);
		overflow:hidden;
		border:1px solid #fff;
	}
	.focusorg{
		padding-left:pxToRem(28);
		color:$fontColorBlack;
		@extend %overText;
		padding-right:pxToRem(80);
		position:relative;
		i{
			position:absolute;
			top:pxToRem(0);
			right:pxToRem(0);
		}
	}
	.orgList{
		position:absolute;
		z-index:1;
		background-color:$whiteColor;
		width:100%;
		padding:0;
		border-top:1px solid $borderColor2;
		div{
			margin-left:pxToRem(60);
			border-bottom:1px solid $borderColor2;
			@extend %overText;
			&:last-child{
				border:none;
			}
			&.focusorg{
				color:$focusColor;
				padding:0;
			}
		}
	}
}
.mask{
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	width:100%;
	height:100%;
	z-index:2;
	left:0;
	top:0;
	margin-left:0 !important;
}

.menu{
	overflow:hidden;
	background-color:$whiteColor;
	padding:pxToRem2(20) 0 ;
	text-align: center;
	a{
		width:50%;
		text-align: center;
		display:inline-block;
		position:relative;
		i.iconfont{
			display: block;
			font-size:pxToRem2(30);
			width:pxToRem2(80);
			height:pxToRem2(80);
			line-height:pxToRem2(80);
			border-radius: pxToRem2(80);
			text-align: center;
			margin:0 auto;
			background-color:#4DC1B4;
			color:#fff;
			margin-bottom:pxToRem2(10);
			&.ifuck{
				background-color:#EEBB6A;
			}
		}
		&:active{
			opacity: 0.7;
		}
		.redCircle{
			position:absolute;
			top:pxToRem(15);
			right:pxToRem(100);
			width:pxToRem(36);
			height:pxToRem(36);
			border-radius: pxToRem(36);
			border:pxToRem(5) solid #fff;
			background-color: #ff0202;
			color:#fff;
			font-size:pxToRem(20);
			overflow: hidden;
		}
	}
	@include border(#e2e2e2,0,0 0 1px 0,1);
}
.followme{
	display:block;
	margin:pxToRem2(15) 0;
	padding:pxToRem2(14);
	@extend .fontSize2;
	background-color: $whiteColor;
	@include border(#e2e2e2,0,1px 0 1px 0,1);
	i{
		float:right;
		@extend .fontSize;
		color:#bbb;
		margin-top:pxToRem(5);
	}
}
.menu-list{
	overflow: hidden;
	background-color:$whiteColor;
	margin:pxToRem2(15) 0;
	@include border(#e2e2e2,0, 1px 0,1);
	a{
		width:33%;
		display:inline-block;
		text-align:center;
		height:100%;
		padding:pxToRem2(20) 0 pxToRem2(15) 0;
		color:$fontColorBlack;
		@include border(#e2e2e2,0,0 1px 1px 0,1);
		i{
			display:block;
			text-align: center;
			font-size:pxToRem2(32);
			height: pxToRem2(32);
			margin-bottom:pxToRem2(5);
		}
		&:nth-child(1){
			i{
				color:#F17474;
			}
		}
		&:nth-child(2){
			i{
				color:#70A1D9;
			}
		}
		&:nth-child(3){
			i{
				color:#72C474;
			}
		}
		&:nth-child(4){
			i{
				color:#4DC1B4;
			}
		}
		&:nth-child(5){
			i{
				color:#EEBB6A;
			}
		}
		&:nth-child(6){
			i{
				color:#72C474;
			}
		}
		&:nth-child(7){
			i{
				color:#70A1D9;
			}
		}
		&:nth-child(3n+0):before{
			border-right:none;
		}
	}
}