@import 'base';
.list{
	.head{
		@extend .fontSize2;
		color:#9a9a9a;
		height: pxToRem(80);
		line-height: pxToRem(80);
		a{
			width:50%;
			display:inline-block;
			text-align: center;
			border-bottom: #b4b4b4 1px solid;
			&.focus{
				color:#fa565a;
				border-bottom: 3px #fa565a solid;
			}
		}
	}
	height: 100%;
	background-color: #fff;
	overflow:auto;
}
.list-body{
	.item{
		position: relative;
	}
	.userAvatar{
		margin:pxToRem(20)  0 0 pxToRem(30);
		.img,img{
			height:pxToRem2(50);
			width:pxToRem2(50);
			line-height:pxToRem2(50);
			border-radius: pxToRem2(50);
		}
	}
	.rcontent{
		display:block;
		padding:pxToRem(30) pxToRem(20) pxToRem(22) pxToRem(30);
		position:absolute;
		top:0;
		left:0;
		padding-left:pxToRem(162);
		width:100%;
	}
	.event{
		@extend .fontSize2;
		padding-bottom: pxToRem(20);
		overflow: hidden;
		p{
			width:pxToRem(350);
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			float:left;
		}
		.time{
			float: right;
			color:#999;
			@extend .fontSize;
		}
	}
	.desc{
		padding:0 0 pxToRem(22) 0;
		/* border-bottom:1px solid #cdcdcd; */
		@include border(#cdcdcd,0,0 0 1px 0,4);
		color:#999;
		@extend .fontSize1;
		p{
			width:pxToRem(300);
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.status{
			float:right;
			color:#d2d2d2;
			width:pxToRem(250);
			text-align: right;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
			&.reject{
				color:#f95559;
			}
		}
	}
}
.nodata{
	text-align: center;
	color:#929292;
	@extend .fontSize2;
	i{
		display:block;
		font-size:pxToRem(125);
		color:#fff;
		background-color: #dcdcdc;
		height:pxToRem(210);
		width:pxToRem(210);
		line-height:pxToRem(210);
		border-radius: pxToRem(210);
		margin:pxToRem(250) auto pxToRem(40) auto;
	}
}